.testimonials {
  text-align: center;
  text-transform: capitalize;
  color: #222222;
  font-weight: 700;
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
}

@media screen and (max-width: 430px) {
  .service-card-item {
    width: 100%;
  }
  .service-card-item img {
    width: 100%;
  }
}
.testimonials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials-title {
  font-family: "Poppins";
  font-style: normal;
  font-size: 15.5778px;
  line-height: 23px;

  color: #222222;
}
.testimonials-sub-title {
  font-family: "Poppins";
  font-style: normal;
  font-size: 3.1rem;
  line-height: 47px;
  color: rgba(0, 0, 0, 0.81);
}
.companies {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 3rem 0;
  flex-wrap: nowrap;
  overflow: auto;
}
.companies img {
  width: 120px;
  object-fit: contain;
}
/* slider */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 9rem;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  /* text-align: center; */
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: #222222;
  top: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 5rem;
}

.active,
.dot:hover {
  background: #f36c6f;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

@media only screen and (max-width: 400px) {
  .slideshow-container {
    margin-top: 4rem;
  }
  .dot {
    margin-top: 90px;
  }
}
